<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1282,130}</string>
                <key>spriteSourceSize</key>
                <string>{1282,130}</string>
                <key>textureRect</key>
                <string>{{528,0},{1282,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,121}</string>
                <key>spriteSourceSize</key>
                <string>{400,121}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,392}</string>
                <key>spriteSourceSize</key>
                <string>{622,392}</string>
                <key>textureRect</key>
                <string>{{0,386},{622,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>about.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{768,130},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1024,130},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystickBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,582}</string>
                <key>spriteSourceSize</key>
                <string>{583,582}</string>
                <key>textureRect</key>
                <string>{{1134,386},{583,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystickThumb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{400,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextPage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{622,386},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optionFill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1280,130},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reload.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{512,130},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volumnOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,235}</string>
                <key>spriteSourceSize</key>
                <string>{256,235}</string>
                <key>textureRect</key>
                <string>{{256,130},{256,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volumnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,235}</string>
                <key>spriteSourceSize</key>
                <string>{256,235}</string>
                <key>textureRect</key>
                <string>{{0,130},{256,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Options.png</string>
            <key>size</key>
            <string>{1810,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fc4a7a72a0af29c608ff68027b7c4a2:1cd80202983f71ae57a2620e3d3731fa:67b4c67b0d3905e5ea078dc143115b40$</string>
            <key>textureFileName</key>
            <string>Options.png</string>
        </dict>
    </dict>
</plist>
