<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Bar.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1282,130}</string>
			<key>spriteSourceSize</key>
			<string>{1282,130}</string>
			<key>textureRect</key>
			<string>{{0,838},{1282,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Button.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{400,121}</string>
			<key>spriteSourceSize</key>
			<string>{400,121}</string>
			<key>textureRect</key>
			<string>{{1408,0},{400,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Popup.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{622,392}</string>
			<key>spriteSourceSize</key>
			<string>{622,392}</string>
			<key>textureRect</key>
			<string>{{1095,256},{622,392}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>about.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{384,0},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>back.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{640,0},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>joystickBG.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{583,582}</string>
			<key>spriteSourceSize</key>
			<string>{583,582}</string>
			<key>textureRect</key>
			<string>{{512,256},{583,582}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>joystickThumb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>nextPage.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,256},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>optionFill.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{128,0},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>volumnOff.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,235}</string>
			<key>spriteSourceSize</key>
			<string>{256,235}</string>
			<key>textureRect</key>
			<string>{{1152,0},{256,235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>volumnOn.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,235}</string>
			<key>spriteSourceSize</key>
			<string>{256,235}</string>
			<key>textureRect</key>
			<string>{{896,0},{256,235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Titles.png</string>
		<key>size</key>
		<string>{1808,968}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1d53873bca7dcb18e4966b57895edf0f:c181b1d1a52fd2cc70da4cefb80cf744:66e778d8b6dccba9d4c44d0ceaeaaed9$</string>
		<key>textureFileName</key>
		<string>Options.png</string>
	</dict>
</dict>
</plist>
